[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pillow = "*"
pyjwt = "*"
django-cropperjs = "*"
django-filter = "*"
python-dotenv = "*"
django-cleanup = "*"
django-user-agents = "*"
django-rosetta = "*"
django-widget-tweaks = "*"
psycopg2-binary = "*"
django-qrcode = "*"
num2words = "*"
piexif = "*"
beautifulsoup4 = "*"

[dev-packages]

[requires]
python_version = "3.8"
