.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.080566;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.080566;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._6{width:1.008000px;}
._c{width:2.208000px;}
._4{width:3.696000px;}
._1{width:6.144000px;}
._9{width:14.448000px;}
._8{width:15.552000px;}
._5{width:17.088000px;}
._7{width:18.096000px;}
._a{width:20.544000px;}
._2{width:21.696000px;}
._d{width:24.192000px;}
._b{width:103.392000px;}
._0{width:108.000000px;}
._3{width:123.984000px;}
._e{width:236.544000px;}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:40.000000px;}
.fs0{font-size:48.000000px;}
/*.y29{bottom:16px;}*/
.y27{bottom:16px;}
.y26{bottom:36px;}
.y25{bottom:56px;}
.y24{bottom:76px;}
.y23{bottom:96px;}
.y4b{bottom:86px;}
.y22{bottom:116px;}
.y4a{bottom:106px;}
.y21{bottom:136px;}
.y49{bottom:126px;}
.y20{bottom:156px;}
.y1f{bottom:176px;}
.y48{bottom:146px;}
.y1e{bottom:196px;}
.y47{bottom:166px;}
.y1d{bottom:216px;}
.y1c{bottom:236px;}
.y1b{bottom:256px;}
.y46{bottom:186px;}
.y1a{bottom:276px;}
.y45{bottom:206px;}
.y19{bottom:288.791025px;}
.y44{bottom:226px;}
.y18{bottom:296px;}
.y43{bottom:246px;}
.y17{bottom:316px;}
.y42{bottom:266px;}
.y16{bottom:336px;}
.y41{bottom:286px;}
.y15{bottom:356px;}
.y40{bottom:306px;}
.y3f{bottom:326px;}
.y14{bottom:376px;}
.y3e{bottom:346px;}
.y13{bottom:396px;}
.y12{bottom:416px;}
.y3d{bottom:366px;}
.y11{bottom:436px;}
.y3c{bottom:386px;}
.y10{bottom:456px;}
.y3b{bottom:406px;}
.yf{bottom:476px;}
.y3a{bottom:426px;}
.ye{bottom:496px;}
.y39{bottom:446px;}
.yd{bottom:516px;}
.y38{bottom:466px;}
.yc{bottom:536px;}
.y37{bottom:486px;}
.yb{bottom:556px;}
.y36{bottom:506px;}
.ya{bottom:576px;}
.y35{bottom:526px;}
.y9{bottom:571.408020px;}
.y34{bottom:546px;}
.y33{bottom:566px;}
.y8{bottom:596px;}
.y32{bottom:586px;}
.y31{bottom:606px;}
.y7{bottom: 616px;}
.y6{bottom:636px;}
.y30{bottom:626px;}
.y5{bottom:656px;}
.y2f{bottom:646px;}
.y2e{bottom:666px;}
.y4{
	bottom: 676px;
	left: 81px !important;
}
.y2d{bottom:686px;}
.y3{bottom:708.668024px;}
.y2c{bottom:706px;}
.y2{bottom:720.600025px;}
.y2b{bottom:726px;}
.y1{bottom:746.399024px;}
.y2a{bottom:753px;}
.y0{bottom:773px;}
.y28{bottom:801.401026px;}
.h4{height:12.698999px;}
.h3{height:27.773438px;}
.h2{height:33.328125px;}
.h1{height:41.507812px;}
.h0{height:841.900024px;}
.w1{width:5.800000px;}
.w0{width:595.299988px;}
.xc{left:0.400000px;}
.x2{left:56.700001px;}
.x7{left:85.050001px;}
.xa{left:103.700001px;}
.x4{left:128.700001px;}
.x10{left:162.016001px;}
.x8{left:164.700003px;}
.xf{left:202.723994px;}
.x9{left:219.420994px;}
.xd{left:221.418003px;}
.xe{left:225.069004px;}
.x6{left:230.412998px;}
.x0{left:232.334995px;}
.x3{left:235.118000px;}
.x5{left:236.700001px;}
.xb{left:294.749994px;}
.x1{left:371.677998px;}

@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._6{width:1.344000pt;}
._c{width:2.944000pt;}
._4{width:4.928000pt;}
._1{width:8.192000pt;}
._9{width:19.264000pt;}
._8{width:20.736000pt;}
._5{width:22.784000pt;}
._7{width:24.128000pt;}
._a{width:27.392000pt;}
._2{width:28.928000pt;}
._d{width:32.256000pt;}
._b{width:137.856000pt;}
._0{width:144.000000pt;}
._3{width:165.312000pt;}
._e{width:315.392000pt;}
.fs1{font-size:53.333333pt;}
.fs0{font-size:64.000000pt;}
.y29{bottom:3.683998pt;}
.y27{bottom:84.050719pt;}
.y26{bottom:106.449351pt;}
.y25{bottom:124.848017pt;}
.y24{bottom:143.246682pt;}
.y23{bottom:165.645364pt;}
.y4b{bottom:174.980000pt;}
.y22{bottom:188.044046pt;}
.y4a{bottom:208.133395pt;}
.y21{bottom:210.442727pt;}
.y49{bottom:224.042662pt;}
.y20{bottom:232.841328pt;}
.y1f{bottom:251.240009pt;}
.y48{bottom:260.840026pt;}
.y1e{bottom:269.638723pt;}
.y47{bottom:279.238707pt;}
.y1d{bottom:288.037389pt;}
.y1c{bottom:306.436056pt;}
.y1b{bottom:332.834737pt;}
.y46{bottom:342.434713pt;}
.y1a{bottom:359.233378pt;}
.y45{bottom:376.833369pt;}
.y19{bottom:385.054700pt;}
.y44{bottom:395.232034pt;}
.y18{bottom:400.964050pt;}
.y43{bottom:421.630717pt;}
.y17{bottom:435.362691pt;}
.y42{bottom:456.029348pt;}
.y16{bottom:469.761347pt;}
.y41{bottom:474.428014pt;}
.y15{bottom:488.160014pt;}
.y40{bottom:492.826679pt;}
.y3f{bottom:511.225377pt;}
.y14{bottom:514.558685pt;}
.y3e{bottom:529.624043pt;}
.y13{bottom:532.957352pt;}
.y12{bottom:551.356018pt;}
.y3d{bottom:556.022685pt;}
.y11{bottom:577.754698pt;}
.y3c{bottom:590.421356pt;}
.y10{bottom:596.153356pt;}
.y3b{bottom:608.820023pt;}
.yf{bottom:614.552022pt;}
.y3a{bottom:627.218688pt;}
.ye{bottom:640.950704pt;}
.y39{bottom:653.617371pt;}
.yd{bottom:667.349386pt;}
.y38{bottom:688.016042pt;}
.yc{bottom:693.748027pt;}
.y37{bottom:706.414708pt;}
.yb{bottom:720.146708pt;}
.y36{bottom:724.813374pt;}
.ya{bottom: 556.476023px;}
.y35{bottom:747.212031pt;}
.y9{bottom:761.877360pt;}
.y34{bottom:765.610696pt;}
.y33{bottom:788.009369pt;}
.y8{bottom:796.276042pt;}
.y32{bottom:806.408035pt;}
.y31{bottom:824.806700pt;}
.y7{bottom:830.097364pt;}
.y6{bottom:846.006704pt;}
.y30{bottom:855.205363pt;}
.y5{bottom:880.405365pt;}
.y2f{bottom:889.604034pt;}
.y2e{bottom:908.002701pt;}
.y4{bottom:914.804035pt;}
.y2d{bottom:926.401366pt;}
.y3{bottom:944.890699pt;}
.y2c{bottom:948.800032pt;}
.y2{bottom:960.800034pt;}
.y2b{bottom:975.198700pt;}
.y1{bottom:995.198699pt;}
.y2a{bottom:1009.597365pt;}
.y0{bottom:1031.996031pt;}
.y28{bottom:1068.534701pt;}
.h4{height:16.931999pt;}
.h3{height:37.031250pt;}
.h2{height:44.437500pt;}
.h1{height:55.343750pt;}
.h0{height:1122.533366pt;}
.w1{width:7.733333pt;}
.w0{width:793.733317pt;}
.xc{left:0.533333pt;}
.x2{left:75.600001pt;}
.x7{left:113.400002pt;}
.xa{left:123.600001pt;}
.x4{left:171.600001pt;}
.x10{left:216.021335pt;}
.x8{left:219.600004pt;}
.xf{left:270.298658pt;}
.x9{left:292.561325pt;}
.xd{left:295.224004pt;}
.xe{left:300.092005pt;}
.x6{left:307.217331pt;}
.x0{left:309.779994pt;}
.x3{left:313.490667pt;}
.x5{left:315.600001pt;}
.xb{left:392.999992pt;}
.x1{left:495.570663pt;}
.y4{left: 150px !important;}
}

@media print {
	.ya {bottom: 990px;}
	.h3 {height: 28.03125pt;}
}
