.header-main{
	height: 90px;
}

.header-mobile
{
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    width: 100%;
    height: 50px;

    -webkit-transition: all 200ms ease;
       -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
         -o-transition: all 200ms ease;
            transition: all 200ms ease;

    box-shadow: 0 5px 20px rgba(0,0,0,.05);
    background: #FFFFFF;
}


.header-right-menu{
	float: right;
}

.header-button{
	position: relative;
	display: inline-block;
	height: 50px;
	font-size: 16px;
	line-height: 50px;
	text-align: center;
	border-radius: 2px;
	cursor: pointer;
	margin-right: 10px;
}

.header-toggle{
	position: relative;
	float: left;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
}

.header-button__icon{
	position: relative;
	width: 50px;
	height: 50px;
	font-size: 16px;
	line-height: 50px;
	text-align: center;
	border-radius: 2px;
	cursor: pointer;
}

.main-nav{
    display: inline-block;
    padding: 0;
    margin: 0;
}


.main-nav li{
	display: inline-block;
	position: relative;
	height: 31px;
}

.main-nav li:not(:last-child){
	margin-right: 13px;
}

.main-nav__left{
	float: right;
}

.main-nav li a
{
    font-size: 12px;
    font-weight: 600;
    line-height: 31px;

    display: block;

    padding-right: 19px;
    padding-left: 19px;

    -webkit-transition: all 200ms ease;
       -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
         -o-transition: all 200ms ease;
            transition: all 200ms ease;
    text-decoration: none;
    text-transform: uppercase;

    color: #2c2b31;
    background: #fff;
}

.main-nav li a:hover,
.main-nav li.active a
{
    color: #fff;
    background: #ff8a00;
}


@media screen and (max-width: 768px){

	.header-mobile{
		display: block;
	}

	.header__top, .header-container{
		display: none;
	}

	.main-content
	{
		padding-top: 90px;
	}
}


.mobile-menu
{
    position: fixed;
    z-index: 110;
    top: 0;
    left: -100%;

    width: 100%;
    height: 100vh;

    transition: all 400ms ease;

    background: #fff;
}

.mobile-menu.active
{
    left: 0;
}

.mobile-menu__top
{
    position: relative;

    height: 50px;
}

.mobile-menu__logo
{
    line-height: 50px;

    float: left;

    height: 50px;
    padding-right: 20px;
    padding-left: 20px;
}

.mobile-menu__close-menu
{
    line-height: 50px;

    float: right;

    width: 50px;
    height: 50px;

    text-align: center;
}

.mobile-menu__scrollable{
	width: 100%;
	height: 100vh;
	overflow-y: auto;
}


.mobile-menu__link{
	padding: 10px 15px;
	position: relative;
	display: block;
	color: #000000;
	font-size: 16px;
	text-decoration: none !important;

}

.header__top{
	height: 90px;
	line-height: 90px;
	background: lightgrey;
}

.top-sentence{
	text-transform: uppercase;
}

/* .header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	box-shadow: 0px 5px 20px rgba(0,0,0,0.05);
	background: #FFFFFF;
	-webkit-transition: all 200ms ease;
       -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
         -o-transition: all 200ms ease;
            transition: all 200ms ease;
} */

/* .header.scrolled
{
	top: -90px;
} */


.main-content{

}


.language-picker{
	display: inline-block;
}


button[type="button"]:focus {
	box-shadow: none;
}

.btn{
	border: 1px solid lightgrey !important;
}

.language-picker__item{
	text-decoration: none !important;
	font-size: 14px;
	padding: 5px;
	color: #000000;
	border-radius: 50px;
	text-transform: uppercase;
}

.language-picker__item.active{
	border-radius: 50px;
	background: lightgrey;
	color: #000000;
}

.language-picker__item:hover{
	color: #fff;
    background: #ff8a00;
}

.col-form-label{
    display:block;
}


.image__item{
	display: inline-block;
}

.image{
	width: 200px;
	height: 100%;
}

.employee__info{
	display: inline-block;
}

.employee-info{
	margin: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.qrcode__container{
	display: inline-block;
}

.qrcode__container img{
	width: 200px;
	height: 200px;		
}


.detail__header{
	text-align: center;
}

.detail__header h1{
	text-transform: uppercase;
}


.employee-info span{
    margin: 5px;
}

.col-form-label{
    width: 125px;
    color: #555;
    font-size: 15px;
    font-weight: 700;
}


.card-container.card
{
    max-width: 350px;
    margin: 0 auto 25px;
    margin-top: 50px;
    padding: 40px 40px;

    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
    background-color: #f7f7f7;
}


#profile-img
{
    display: block;

    width: 96px;
    height: 96px;
    margin: 0 auto 10px;

    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}

.form__login{
    margin-top: 25px;
}


.form__login #id_number,
.form__login #id_password
{
    font-size: 16px;

    height: 44px;

    line-height: 44px;

    direction: ltr;
}

.form__login input[type=tel],
.form__login input[type=password],
.form__login button
{
    position: relative;
    z-index: 1;

    display: block;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
}

.form__login .form-control:focus
{
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}


.btn.btn-signin
{
    font-size: 14px;
    font-weight: 700;

    height: 44px;
    line-height: 44px;
    padding: 0;

    -webkit-transition: all .218s;
       -moz-transition: all .218s;
         -o-transition: all .218s;
            transition: all .218s;

    border: none;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
}


.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus
{
    background-color: rgb(12, 97, 33);
}


@media screen and (max-width: 600px) {
  table thead {
    display: none;
  }
  table td {
    display: flex;
  }
  
  table td::before {
    content: attr(label);
    font-weight: bold;
    width: 120px;
    min-width: 120px;
  }

  table tr{
  	border: 1px solid;
  }
}



/* EMPLOYEE DETAIL PAGE */

@media screen and (max-width: 768px){

	.section-detail{
		margin-top: 0 !important;
	}

	.detail-header__certificate{
		font-size: 1.3em;
	}
	
	.detail-header__role{
		font-size: 1.3em;
	}

	.image__item{
		text-align: center;
	}

	.image__item img{

	}

	.detail__items{
		display: grid !important;
	}

	.employee__info{
		margin: 0 !important;
	}

	.qrcode__container{
		margin: 0 !important;
		text-align: center;
	}

	.language-picker select{
		background: #ffffff;
		border: none;
		outline: none;
	}

	.pf{
		zoom: 50%;
	}
}