{% load static %}
<!DOCTYPE html>
<html lang="ky">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>404</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:500" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web:700,900" rel="stylesheet">

	<!-- Custom stylesheet -->
	<link type="text/css" rel="stylesheet" href="{% static 'css/error-style.css' %}" />

</head>

<body>

	{% block content %}{% endblock content %}

</body>

</html>
