{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load replace_asterisk %}

{% block title %}
    Кызматкер
{% endblock %}
{% block content %}

<section class="section-detail mt-5">
    <div class="container">
        <div class="detail__header">
            <h1 class="detail-header__certificate">Кубөлүк &#8470;{{ object.agreement }}</h1>
            <h1 class="detail-header__role">{{ object.get_role }}</h1>
        </div>
        <div class="detail__items d-flex">
            <div class="image__item">
                <img src="{{ object.photo.url }}" alt="" class="image">
            </div>
            <div class="employee__info mr-5 ml-5">
                <div class="employee-info">
                    <span>Фамилиясы:</span>
                    <span>{{object.last_name|cover:"*"}}</span>
                </div>
                <div class="employee-info">
                    <span>Аты:</span>
                    <span>{{object.first_name|cover:"*"}}</span>
                </div>
                 {% if object.patronymic %}
                <div class="employee-info">
                    <span>Атасынын аты:</span>
                    <span>{{object.patronymic|cover:"*"}}</span>
                </div>
                {% endif %}
                {% if user.is_authenticated %}
                    <div class="employee-info">
                        <span>Мамадминистрация башчысы:</span>
                        <span>{{ object.district.gov_admin }}</span>
                    </div>
                    <div class="employee-info">
                        <span>Мамстатистика башчысы:</span>
                        <span>{{ object.district.stat_admin }}</span>
                    </div>
                {% endif %}
            </div>
            {% if user.is_authenticated %}
            <div class="qrcode__container ml-auto">
                <img src="{{ object.qrcode.url }}" alt="">
            </div>
            {% endif %}
        </div>
    </div>

    <div class="mt-5">
         <p class="text-center">Коопсуздук эрежелерин сактоо максатында ысымдар толук эмес түрдө берилген</p>
    </div>

    {% if request.user.is_authenticated %}
    <div class="buttons-group mt-5">
        <nav class="nav nav-pills nav-fill">
            <a class="nav-item nav-link btn btn-info" href="{% url 'users:update' object.id %}">Өзгөртүү</a>
            <button class="nav-item nav-link btn btn-info" onclick="printWindow()"><span class="fa fa-print" aria-hidden="true"></span> Басып чыгаруу</button>
        </nav>
    </div>
    {% endif %}

</section>

<div class="my-badge enable-print">
    <div class="badge-body">
        <div class="r">
            <div class="first-c">
                <p class="certificate">күбөлүк &#8470;{{ object.agreement }}</p>
                <p class="role">{{ object.get_role }}</p>
                <p>{{ object.last_name|upper }}</p>
                <p>{{ object.first_name|upper }}</p>
                {% if object.patronymic %}
                    <p>{{ object.patronymic|upper }}</p>
                {% endif %}
            </div>
            <img class="user-image" src="{{ object.photo.url }}" alt="">
        </div>
        <div class="r">
            <div class="c">
                <span class="verification">Иш кагаздын аныктыгын</span><br>
                <span class="verification">текшерүүгө QR ди скандаңыз</span><br>
                <img class="qr-code" src="{{ object.qrcode.url }}" alt="">
            </div>
            <div class="c">
                <p>{{ object.district.gov_admin }}</p>
                <p class="badge-help">Райондук (шаардык) мамадминистрация башчысы, колу</p>
                <p>{{ object.district.stat_admin }}</p>
                <p class="badge-help">Райондук(шаардык) мамстатистика башчысы, колу</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
    <script>
    $(document).ready(function(){
        $('.image__item img').attr("src", "{{ object.photo.url }}");
    });
    </script>
{% endblock js %}
