{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load replace_asterisk %}

{% block title %}
    Кызматкер
{% endblock %}
{% block content %}

<section class="section-detail mt-5">
    <div class="container">
        <div class="detail__header">
            <h1 class="detail-header__certificate">Кубөлүк &#8470;{{ object.agreement }}</h1>
            <h1 class="detail-header__role">{{ object.get_role }}</h1>
        </div>
        <div class="detail__items d-flex">
            <div class="image__item">
                <img src="{{ object.photo.url }}" alt="" class="image">
            </div>
            <div class="employee__info mr-5 ml-5">
                <div class="employee-info">
                    <span>Фамилиясы:</span>
                    {% if user.is_authenticated %}
                        <span>{{object.last_name}}</span>
                    {% else %}
                        <span>{{object.last_name|cover:"*"}}</span>
                    {% endif %}
                </div>
                <div class="employee-info">
                    <span>Аты:</span>
                    {% if user.is_authenticated %}
                        <span>{{object.first_name}}</span>
                    {% else %}
                        <span>{{object.first_name|cover:"*"}}</span>
                    {% endif %}
                </div>
                 {% if object.patronymic %}
                <div class="employee-info">
                    <span>Атасынын аты:</span>
                    {% if user.is_authenticated %}
                        <span>{{object.patronymic}}</span>
                    {% else %}
                        <span>{{object.patronymic|cover:"*"}}</span>
                    {% endif %}
                </div>
                {% endif %}
                {% if user.is_authenticated %}
                    <div class="employee-info">
                        <span>Мамадминистрация башчысы:</span>
                        <span>{{ object.district.gov_admin }}</span>
                    </div>
                    <div class="employee-info">
                        <span>Мамстатистика башчысы:</span>
                        <span>{{ object.district.stat_admin }}</span>
                    </div>
                {% endif %}
            </div>
            {% if user.is_authenticated %}
            <div class="qrcode__container ml-auto">
                <img src="{{ object.qrcode.url }}" alt="">
            </div>
            {% endif %}
        </div>
    </div>

    {% if not user.is_authenticated %}
    <div class="mt-5">
         <p class="text-center">Коопсуздук эрежелерин сактоо максатында ысымдар толук эмес түрдө берилген</p>
    </div>
    {% endif %}

</section>

{% endblock %}

{% block js %}
    <script>
    $(document).ready(function(){
        if( window.localStorage )
        {
            if(!localStorage.getItem('firstLoad'))
            {
                localStorage['firstLoad'] = true;
                window.location.reload();
            }
            else
            {
                localStorage.removeItem('firstLoad');
            }
        }
    });
    </script>
{% endblock js %}
