{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load users_extras %}
{% block title %}
    {% trans 'Employees' %}
{% endblock %}
{% block content %}
        <div class="symbols no-print">
        <button value="Ө" onclick="insertSymbol(this)" class="symbol">Ө</button>
        <button value="Ү" onclick="insertSymbol(this)" class="symbol">Ү</button>
        <button value="Ң" onclick="insertSymbol(this)" class="symbol">Ң</button>
        <button value="ө" onclick="insertSymbol(this)" class="symbol">ө</button>
        <button value="ү" onclick="insertSymbol(this)" class="symbol">ү</button>
        <button value="ң" onclick="insertSymbol(this)" class="symbol">ң</button>
    </div>
    <div class="container">
        <div>
            <form method="get">
                <div class="form-row">
                    {% for field in filterset.form.visible_fields %}
                        <div class="form-group col-md-2">
                            <label for="id_{{ field.label|lower }}">{{ field.label }}</label>
                            {% render_field field class="form-control" autocomplete="off" %}
                        </div>
                    {% endfor %}
                </div>
                <button type="submit" class="search-btn">{% trans 'Search' %}</button>
            </form>
        </div>

        <table class="table table-hover mt-5" id="myTable" data-card-width="1000">
            <thead>
            <tr>
                <th scope="col">{% trans 'Number' %}</th>
                <th scope="col">{% trans 'Name' %}</th>
                <th scope="col">{% trans 'Surname' %}</th>
                <th scope="col">{% trans 'Agreement' %}</th>
                <th scope="col">{% trans 'Role' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>
                    <td><a href="{% url 'users:update' object.pk %}">{{ object.number }}</a></td>
                    <td>{{ object.first_name }}</td>
                    <td>{{ object.last_name }}</td>
                    <td><a href="{% url 'users:agreement_detail' object.pk %}">№ {{ object.agreement }}</a></td>
                    <td>{{ object.get_role }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

        {% if is_paginated %}
            <div class="d-flex">
                <nav aria-label="Employee list pagination" class="mx-auto">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?{% param_replace page=page_obj.previous_page_number %}">&laquo;</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                        <span class="page-link">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Мурдакы барак</span>
                        </span>
                            </li>
                        {% endif %}
                        {% for i in paginator.page_range %}
                            {% if i <= page_obj.number|add:5 and i >= page_obj.number|add:-5 %}
                                {% if page_obj.number == i %}
                                    <li class="page-item active"><span class="page-link">{{ forloop.counter }} <span
                                            class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="?{% param_replace page=forloop.counter %}">{{ forloop.counter }}</a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="?{% param_replace page=page_obj.next_page_number %}">&raquo;</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                        <span class="page-link">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Кийинки барак</span>
                        </span>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block js %}
    <script>setMobileTable('table');</script>
    <script>
        $(document).ready(function () {
            $('#id_number').mask('000000000', {'translation': {9: {pattern: '9'}, 6: {pattern: '6'}}});
        });
    </script>
{% endblock js %}