{% load static %}

<!DOCTYPE HTML>
<html lang="en">
<head>
     <title>Census API Documentation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/docs-style.css' %}">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 header-docs">
                <h1>Census API Documentation</h1>
            </div>
            <div class="col-8">
                <h3>Authentication</h3>
                <p class="command-line">
                    <code>curl -X POST http://census.kg/api/login/ \
                        <br>
                        --header "Content-type:application/json" \
                        <br>
                        --data-raw "{\"number\":\"<em>number</em>\",\"password\":\"<em>password</em>\"}"
                    </code>
                    <span class="output">{"token":"9fc3befd92b22991bb9e1b51e90f88332e34d90c"}</span>
                </p>
                <h3>Logout</h3>
                <p class="command-line">
                    <code>curl -X POST http://census.kg/api/logout/ \
                        <br>
                        -H "Authorization:Token 8c654d533794218fe011bd01789ce68bb6e96e1c"
                    </code>
                    <span class="output">{"message":"You successfully logged out"}</span>
                </p>

                <p>If token is not provided it will raise an error</p>
                <p class="command-line">
                    <code>curl -X POST http://census.kg/api/logout/</code>
                    <span class="output">{"error":"Invalid Credentials"}</span>
                </p>

                <h3>Employee List</h3>
                <p class="command-line">
                    <code>curl -X GET http://census.kg/api/employees/ \
                        <br>
                        -H "Authorization:Token 8c654d533794218fe011bd01789ce68bb6e96e1c"
                    </code>
                    <span class="output" style="white-space: pre">
                        {
                            "count": 11,
                            "next": "http://localhost:8000/api/employees/?page=2",
                            "previous": null,
                            "results": [
                                {
                                    "id": 16,
                                    "district": {
                                        "id": 1,
                                        "name": "Tyup",
                                        "code": "12121412312",
                                        "gov_admin": "12345",
                                        "stat_admin": "12345",
                                        "counter": "000012",
                                        "region": 1
                                    },
                                    "agreement": "000011",
                                    "login": "4171212141231212121412312_1_1_1",
                                    "password": "Kol111uomk",
                                    "number": "111111140",
                                    "last_name": "qwerty2",
                                    "first_name": "qwerty2",
                                    "patronymic": null,
                                    "gender": "2",
                                    "birth_day": "2004-12-31",
                                    "serial": "AN",
                                    "passport_num": "1111111",
                                    "address": "qwertyqwerty",
                                    "authority": "qwertyuiqq",
                                    "PIN": "12345678901234",
                                    "photo": "http://localhost:8000/media/users/img/profile_user_gLcB7Jn.jpg",
                                    "role": "cor",
                                    "department": 1,
                                    "sector": 1,
                                    "plot": 1,
                                    "qrcode": "http://localhost:8000/media/users/qr-codes/111111140",
                                    "date_joined": "2019-12-25T10:45:18.960341+06:00"
                                },
                            ]
                        }
                    </span>
                </p>
                <h3>Employee Detail</h3>
                <p class="command-line">
                    <code>curl -X GET http://census.kg/api/employees/16/
                         <br>
                        -H "Authorization:Token 8c654d533794218fe011bd01789ce68bb6e96e1c"
                    </code>
                    <span class="output" style="white-space: pre;">
                        {
                            "id": 16,
                            "district": {
                                "id": 1,
                                "name": "Tyup",
                                "code": "12121412312",
                                "gov_admin": "12345",
                                "stat_admin": "12345",
                                "counter": "000012",
                                "region": 1
                            },
                            "agreement": "000011",
                            "login": "4171212141231212121412312_1_1_1",
                            "password": "Kol111uomk",
                            "number": "111111140",
                            "last_name": "qwerty2",
                            "first_name": "qwerty2",
                            "patronymic": null,
                            "gender": "2",
                            "birth_day": "2004-12-31",
                            "serial": "AN",
                            "passport_num": "1111111",
                            "address": "qwertyqwerty",
                            "authority": "qwertyuiqq",
                            "PIN": "12345678901234",
                            "photo": "http://localhost:8000/media/users/img/profile_user_gLcB7Jn.jpg",
                            "role": "cor",
                            "department": 1,
                            "sector": 1,
                            "plot": 1,
                            "qrcode": "http://localhost:8000/media/users/qr-codes/111111140",
                            "date_joined": "2019-12-25T10:45:18.960341+06:00"
                        }
                    </span>
                </p>

                <h3>Employee Creation</h3>

                <p class="command-line">
                    <code>curl -i -X POST http://localhost:8000/api/employee_create/ \
                        <br>
                        -H "Content-type: multipart/form-data" \
                        <br>
                        -H "Authorization: Token d14516837e959eebe96387964347666f878cdd95" \
                        <br>
                        -F "number=777777777" -F "last_name=emilbekov" -F "first_name=nurlan" \
                        <br>
                        -F "birth_day=1996-09-01" -F "passport_num=123456" -F "address=qwerty" \
                        <br>
                        -F "authority=1" -F "PIN=1234567890" -F "photo=@C:\Users\Nurlan\Pictures\Images\profile_user.jpg"
                    </code>
                    <span class="output">{'message': 'OK'}</span>
                </p>

            </div>
            <div class="col-4"></div>
        </div>
    </div>
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>');
</script>
</body>
</html>