{% load static %}
{% load i18n %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<section>
    <div class="container">
        <form action="{% url 'users:employee_creation' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form.visible_fields %}
            <div class="form-group row">
                <label for="inputEmail" class="col-sm-2 col-form-label">{{ field.label }}</label>
                <div class="col-sm-6">
                    {% render_field field class="form-control" %}
                </div>
                {% if field.errors %}
                <div class="col-sm-4">
                    {% for error in field.errors %}
                    <small id="passwordHelp" class="text-danger">
                        {{ error|striptags }}
                    </small>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">{% trans 'Add' %}</button>
        </form>
    </div>
</section>
<script src="{% static 'js/my-custom.js' %}"></script>
</body>
</html>