{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}
    {% trans 'Home' %}
{% endblock %}
{% block content %}
<section>
    <div class="container">
        <h5 class="mt-5">{% trans 'Employee Creation Form' %}</h5>
        <form action="{% url 'users:home' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form.visible_fields %}
            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="id_{{ field.label|lower }}" class="col-form-label">{{ field.label }}</label>
                    {% render_field field class="form-control" %}
                </div>
                {% if field.errors %}
                <div class="col-sm-6">
                    {% for error in field.errors %}
                    <small id="passwordHelp" class="text-danger">
                        {{ error|striptags }}
                    </small>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">{% trans 'Add' %}</button>
        </form>
    </div>
</section>
{% endblock %}
{% block js %}
    <script src="{% static 'js/my-custom.js' %}"></script>
{% endblock js %}
