{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}
    {% trans 'Home' %}
{% endblock %}
{% block content %}
<section>
    <div class="container">
        <h5 class="mt-5 text-center">{% trans 'Employee Creation Form' %}</h5>
        <form action="{% url 'users:home' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                {% for field in form.visible_fields %}
                <div class="form-group col-7 mx-auto">
                    <label for="id_{{ field.label|lower }}" class="col-form-label">{{ field.label }}</label>
                    {% if field.errors %}
                    {% render_field field class="form-control is-invalid" %}
                    <div class="invalid-feedback">
                        {% for error in field.errors %}
                        <small>
                            {{ error|striptags }}
                        </small><br>
                        {% endfor %}
                    </div>
                    {% else %}
                    {% render_field field class="form-control" %}
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            
            <div class="row">
                <div class="col-6 mx-auto mt-5">
                     <button type="submit" class="btn btn-primary btn-block">{% trans 'Add' %}</button>
                </div>
            </div>
        </form>
    </div>
</section>

{% endblock %}
{% block js %}
    <script src="{% static 'js/my-custom.js' %}"></script>
{% endblock js %}
