{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}
    {% trans 'Home' %}
{% endblock %}
{% block content %}
    <div class="symbols">
        <button value="Ө" onclick="insertSymbol(this)" class="symbol">Ө</button>
        <button value="Ү" onclick="insertSymbol(this)" class="symbol">Ү</button>
        <button value="Ң" onclick="insertSymbol(this)" class="symbol">Ң</button>
        <button value="ө" onclick="insertSymbol(this)" class="symbol">ө</button>
        <button value="ү" onclick="insertSymbol(this)" class="symbol">ү</button>
        <button value="ң" onclick="insertSymbol(this)" class="symbol">ң</button>
    </div>
    <section>
        <div class="container">
            <h5 class="mt-5 text-center">{% trans 'Employee Creation Form' %}</h5>
            <form action="{% url 'users:home' %}" method="post" enctype="multipart/form-data" data-ajax="false">
                {% csrf_token %}
                <div class="row">
                    {% for field in form.visible_fields %}
                        <div class="form-group col-md-7 col-sm-12 mx-auto disabled-wrap-box">
                            <label for="id_{{ field.label|lower }}" class="col-form-label">{{ field.label }}</label>
                            {{ field }}
                            {{ field.help }}
                            {% if field.errors %}
                                <div class="invalid-feedback">
                                    {% for error in field.errors %}
                                        <small>
                                            {{ error|striptags }}
                                        </small><br>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    {% for field in form.hidden_fields %}
                        <div style="display:none;">{{ field }}</div>
                        {% if field.errors %}
                            {% for error in errors %}
                                <small class="alert text-danger">{{ error|striptags }}</small>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="row">
                    <div class="col-md-7 col-sm-12 mx-auto mt-5">
                        <button type="submit" class="btn-full btn-add">{% trans 'Add' %}</button>
                    </div>
                </div>
            </form>
        </div>
    </section>

{% endblock %}
{% block js %}
    <script>
        $(document).ready(function () {
            $('.masked').mask('000000000');
            $('.date').mask('00.00.0000');

            let role = $('#id_role option:selected').val();

            if (role == 'cor') {
                $('#id_department').parents('.form-group').css({
                    "display": "block"
                });
                $('#id_sector').parents('.form-group').css({
                    "display": "none"
                });
                $('#id_plot').parents('.form-group').css({
                    "display": "none"
                });
            } else if (role == 'ins') {
                $('#id_department').parents('.form-group').css({
                    "display": "block"
                });
                $('#id_sector').parents('.form-group').css({
                    "display": "block"
                });
                $('#id_plot').parents('.form-group').css({
                    "display": "none"
                });
            } else {
                $('#id_department').parents('.form-group').css({
                    "display": "block"
                });
                $('#id_sector').parents('.form-group').css({
                    "display": "block"
                });
                $('#id_plot').parents('.form-group').css({
                    "display": "block"
                });
            }

            $('#id_role').change(function () {
                let role = $("#id_role option:selected").val();
                if (role == 'cor') {
                    $('#id_department').parents('.form-group').css({
                        "display": "block"
                    });
                    $('#id_sector').parents('.form-group').css({
                        "display": "none"
                    });
                    $('#id_plot').parents('.form-group').css({
                        "display": "none"
                    });
                } else if (role == 'ins') {
                    $('#id_department').parents('.form-group').css({
                        "display": "block"
                    });
                    $('#id_sector').parents('.form-group').css({
                        "display": "block"
                    });
                    $('#id_plot').parents('.form-group').css({
                        "display": "none"
                    });
                } else if (role == 'enum') {
                    $('#id_department').parents('.form-group').css({
                        "display": "block"
                    });
                    $('#id_sector').parents('.form-group').css({
                        "display": "block"
                    });
                    $('#id_plot').parents('.form-group').css({
                        "display": "block"
                    });
                }
            });

            $('#id_none').keypress(function (e) {
                if (e.which == 13) {
                    let pin = $(this).val();
                    let serial = $('#id_serial').val();
                    let passport_num = $('#id_passport_num').val();
                    let name = document.getElementById('id_first_name');
                    let surname = document.getElementById('id_last_name');
                    let patronymic = document.getElementById('id_patronymic');
                    let gender = document.getElementById('id_gender');
                    let date_of_birth = document.getElementById('id_birth_day');
                    let address = document.getElementById('id_address');
                    $.ajax({
                        url: "{% url 'users:load_data_by_pin' %}",
                        data: {
                            'pin': pin,
                            'serial': serial,
                            'passport_num': passport_num
                        },
                        dataType: 'json',
                        success: function (data) {
                            console.log(data);
                            if (data.is_exist) {
                                name.value = data.name;
                                surname.value = data.surname;
                                patronymic.value = data.patronymic;
                                gender.value = data.gender;
                                date_of_birth.value = data.dateOfBirth;
                                address.value = data.address;
                            } else {
                                alert(data.error_text);
                            }
                        }
                    });
                    e.preventDefault();
                    return false;
                }
            });
        });
    </script>
{% endblock js %}
