{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}
    {% trans 'Home' %}
{% endblock %}
{% block content %}

<section class="section__login">
    <div class="container">
        <div class="card card-container">
            <div class="profile-img-card">
                <img src="{% static 'img/avatar_2x.png' %}" alt="profile image" id="profile-img">
            </div>
            <form action="{% url 'users:login' %}" method="POST" class="form__login">
            {% csrf_token %}
            {% for field in form %}
                {% ifnotequal field.name 'next' %}
                <div class="form-group">
                    {% ifequal field.name 'number' %}
                        {% if field.errors %}
                            {% render_field field class="form-control masked is-invalid" placeholder='550XXXXXX' %}
                        {% else %}
                            {% render_field field class="form-control masked" placeholder='550XXXXXX' %}
                        {% endif %}
                    {% else %}
                        {% if field.errors %}
                            {% render_field field class="form-control is-invalid" placeholder=field.label %}
                        {% else %}
                            {% render_field field class="form-control" placeholder=field.label %}
                        {% endif %}
                    {% endifequal %}
                    {% if field.errors %}
                        <div class="invalid-feedback">
                        {% for error in field.errors %}
                            <small>{{ error|striptags }}</small><br>
                        {% endfor %}
                        </div>
                    {% endif %}
                </div>
                {% else %}
                    {% render_field field value=redirect_url %}
                {% endifnotequal %}
            {% endfor %}
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">{% trans 'login' %}</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}
{% block js %}
    <script src="{% static 'js/masking-input.js' %}" data-autoinit="true"></script>
    <script>
    $(document).ready(function () {
        $('.masked').mask('000000000');
    });
</script>
{% endblock %}