{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load user_agents %}

{% block content %}
    <section>
        <div class="container">
            <form method="post">
                {% csrf_token %}
                <p>{% trans 'Are you sure you want to delete?' %}</p>
                <input type="submit" class="btn btn-danger" value="{% trans 'Delete' %}">
                <a href="{{ request.META.HTTP_REFERER|escape }}" class="btn btn-primary"> Айнуу </a>
            </form>
        </div>
    </section>
{% endblock %}