{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load replace_asterisk %}
{% load users_extras %}

{% block head %}
    <style>
        .image-container {
            width: 500px;
            height: 500px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="d-flex">
        <div class="image-container mx-auto">
            <img src="{% static 'img/nophoto.png' %}" alt="" id="image">
        </div>
    </div>
    <div class="d-flex">
        <form class="mx-auto" method="post" action="{% url 'users:update_photo' object.pk %}"
              enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
        </form>
    </div>

{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $("input[id='id_photo']").change(function () {
                let image = document.getElementById('image');
                let files = $(this)[0].files;
                let file = files[0];
                $('#image').attr('src', window.URL.createObjectURL(file));
                let cropper = new Cropper(image, {
                    aspectRatio: 3 / 4,
                    movable: false,
                    zoomable: false,
                    rotatable: true,
                    crop: function (e) {
                        $('#id_x1').val(Math.round(e.detail.x));
                        $('#id_y1').val(Math.round(e.detail.y));
                        $('#id_x2').val((Math.round(e.detail.x) + Math.round(e.detail.width)));
                        $('#id_y2').val((Math.round(e.detail.y) + Math.round(e.detail.height)));
                    }
                });
                cropper.crop();
            });
        });
    </script>
{% endblock %}