{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load replace_asterisk %}
{% load users_extras %}
{% load user_agents %}

{% block head %}
    <link rel="stylesheet" href="{% static 'fonts/Arial/stylesheet.css' %}">
{% endblock head %}

{% block title %}
    {% trans 'Home' %}
{% endblock %}
{% block content %}
    <section class="no-print mt-5">
        <div class="container">
            <div class="detail__header">
                <h1 class="detail-header__certificate">{% trans 'Certificate' %} &#8470;{{ object.agreement }}</h1>
                <h1 class="detail-header__role">{{ object.get_role }}</h1>
            </div>
            <div class="detail__items d-flex mt-5">
                <div class="image__item mx-auto">
                    {% if object.photo %}
                        <img src="{{ object.photo.url }}" alt="" class="image" style="object-fit: cover">
                    {% else %}
                        <img src="{% static 'img/nophoto.png' %}" alt="" class="image" style="object-fit: cover">
                    {% endif %}
                    <a href="{% url 'users:update_photo' pk=object.pk %}" style="display: block; text-align: center;">{% trans 'change image' %}</a>
                </div>
            </div>
        </div>

        {% if request.user.is_authenticated %}
            <div class="container mt-5 no-print">
                <form action="{% url 'users:update' object.id %}" method="post" enctype="multipart/form-data"
                      id="update-form" data-ajax="false">
                    {% csrf_token %}
                    <fieldset>
                        {% for field in form.visible_fields %}
                            <div class="form-group row">
                                <label for="id_{{ field.name|lower }}"
                                       class="col-sm-3 col-form-label">{{ field.label }}</label>
                                <div class="col-sm-9">
                                    {% if field.name == 'photo' or field.name == 'is_badge_printed' or field.name == 'is_badge_returned' %}
                                        {% render_field field %}
                                    {% elif field.name == 'number' %}
                                        {% render_field field class="form-control masked" %}
                                    {% else %}
                                        {% render_field field class="form-control" %}
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </fieldset>
                </form>
            </div>
            <div class="buttons-group mt-5 no-print">
                <a href="{% url 'users:delete' pk=object.pk %}" class="nav-item delete-btn">{% trans 'Delete' %}</a>
                {% if perms.users.change_employee %}
                    <button class="nav-item" onclick="update()">{% trans 'Update' %}</button>
                {% endif %}
                {% if request|is_pc and perms.users.can_print_badge %}
                    <button class="nav-item" onclick="printWindow()" id="badge_print">
                        <span class="fa fa-print" aria-hidden="true"></span>
                        {% trans 'Print' %}
                    </button>
                {% endif %}
            </div>
        {% endif %}
    </section>

    <section class="section__print">
        <div class="badge__main d-flex">
            <div class="badge__content mx-auto">
                <div class="badge-content__top">
                    <div class="employee__info d-flex">
                        <div class="employee-info__fio">
                            <p class="certificate">{% trans 'Certificate' %} &#8470;{{ object.agreement }}</p>
                            <p class="role">{{ object.get_role }}</p>
                            <p>{{ object.last_name|upper }}</p>
                            <p>{{ object.first_name|upper }}</p>
                            {% if object.patronymic %}
                                <p>{{ object.patronymic|upper }}</p>
                            {% endif %}
                        </div>
                        <div class="employee-info__image ml-auto">
                            {% if object.photo %}
                                <img class="user-image" src="{{ object.photo.url }}" alt="">
                            {% else %}
                                <img class="user-image" src="{% static 'img/nophoto.png' %}" alt="">
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="badge-content__bottom">
                    <div class="qr-code__container d-flex">
                        <img class="qr-code my-auto mx-auto" src="{{ object.qrcode.url }}" alt="">
                    </div>

                    <div class="admin-info__container">
                        <p>{% get_initials object.district.gov_admin %}</p>
                        <p class="badge-help">Райондук (шаардык) мамадминистрация башчысы, колу</p>
                        <p>{% get_initials object.district.stat_admin %}</p>
                        <p class="badge-help">Райондук(шаардык) мамстатистика башчысы, колу</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block js %}
    <script src="{% static 'js/masking-input.js' %}" data-autoinit="true"></script>
    <script>
        $(document).ready(function () {
            $('.masked').mask('000000000', {'translation': {9: {pattern: '9'}, 6: {pattern: '6'}}});
            $('.date').mask('00.00.0000');
            $('#id_territory').val({{ object.territory.id }});

            if (window.localStorage) {
                if (!localStorage.getItem('firstLoad')) {
                    localStorage['firstLoad'] = true;
                    window.location.reload();
                } else {
                    localStorage.removeItem('firstLoad');
                }
            }

            $('#badge_print').on('click', function () {
                console.log("{{ object.last_name }}");
            });

            let role = $('#id_role option:selected').val();

            if (role == 'cor') {
                $('#id_department').parents('.form-group').css({
                    "display": "flex"
                });
                $('#id_sector').parents('.form-group').css({
                    "display": "none"
                });
                $('#id_plot').parents('.form-group').css({
                    "display": "none"
                });
            } else if (role == 'ins') {
                $('#id_department').parents('.form-group').css({
                    "display": "flex"
                });
                $('#id_sector').parents('.form-group').css({
                    "display": "flex"
                });
                $('#id_plot').parents('.form-group').css({
                    "display": "none"
                });
            } else if (role == 'enum') {
                $('#id_department').parents('.form-group').css({
                    "display": "flex"
                });
                $('#id_sector').parents('.form-group').css({
                    "display": "flex"
                });
                $('#id_plot').parents('.form-group').css({
                    "display": "flex"
                });
            }

            $('#id_role').change(function () {
                let role = $("#id_role option:selected").val();
                if (role == 'cor') {
                    $('#id_department').parents('.form-group').css({
                        "display": "flex"
                    });
                    $('#id_sector').parents('.form-group').css({
                        "display": "none"
                    });
                    $('#id_plot').parents('.form-group').css({
                        "display": "none"
                    });
                } else if (role == 'ins') {
                    $('#id_department').parents('.form-group').css({
                        "display": "flex"
                    });
                    $('#id_sector').parents('.form-group').css({
                        "display": "flex"
                    });
                    $('#id_plot').parents('.form-group').css({
                        "display": "none"
                    });
                } else if (role == 'enum') {
                    $('#id_department').parents('.form-group').css({
                        "display": "flex"
                    });
                    $('#id_sector').parents('.form-group').css({
                        "display": "flex"
                    });
                    $('#id_plot').parents('.form-group').css({
                        "display": "flex"
                    });
                }
            });
        });

        function update() {
            document.getElementById('update-form').submit();
        }
    </script>
{% endblock js %}
