{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
    {% trans 'Home' %}
{% endblock %}
{% block content %}
<section>
    <div class="container">
        <h5 class="mt-5 text-center">{% trans 'Employee Update Form' %}</h5>
        <form action="{% url 'users:update' object.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                {% for field in form.visible_fields %}
                <div class="form-group col-md-7 col-sm-12 mx-auto">
                    <label for="id_{{ field.label|lower }}" class="col-form-label">{{ field.label }}</label>
                    {{ field }}
                    {{ field.help }}
                    {% if field.errors %}
                    <div class="invalid-feedback">
                        {% for error in field.errors %}
                        <small>
                            {{ error|striptags }}
                        </small><br>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            
            <div class="row">
                <div class="col-md-6 col-sm-12 mx-auto mt-5">
                     <button type="submit" class="btn btn-primary btn-block">{% trans 'Change' %}</button>
                </div>
            </div>
        </form>
    </div>
</section>

{% endblock %}
{% block js %}
    <script src="{% static 'js/my-custom.js' %}"></script>
    <script src="{% static 'js/masking-input.js' %}" data-autoinit="true"></script>
    <script>
    $(document).ready(function () {
        $('.masked').mask('550000000', {'translation': {9: {pattern: '9'}, 6: {pattern: '6'}}});
        $('.date').mask('00.00.0000');
    });
</script>
{% endblock js %}
